.Synonyms .col-2 {
  background-color: #5da8a7;
  margin: 3px 5px;
  border-radius: 4px;
  padding: 2px 7px;
  text-align: center;
  transition: 150ms ease-in-out;
}

.Synonyms .description {
  background-color: #a3d2ca;
}

.Synonyms button {
  background-color: #5da8a7;
  border: none;
  color: #182928;
}

.Synonyms button:hover {
  text-decoration: underline;
  cursor: pointer;
}
